
@{
    ViewBag.Title = "Kariera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aktualne oferty pracy</h2>

<div class="row my-jumbotron">
    <div class="col-md-10" style="text-align: justify">
        <strong>
            <p style="font-size: 34px">
                Grafik Komputerowy
            </p>
        </strong>

        <div class="offerContent">
            <p><strong>Opis stanowiska:</strong>
            </p>
            <ul>
                <li>projektowanie graficzne interfejsów aplikacji i systemów</li>
                <li>współpraca z zespołami produkcyjnymi i projektowymi</li>
                <li>ustalanie i realizowanie zasad konstrukcji interfejsów</li>
            </ul>
            <p><br><strong>Wymagania:</strong>
            </p>
            <ul>
                <li>wykształcenie&nbsp;wyższe</li>
                <li>minimum roczne doświadczenie&nbsp;na podobnym stanowisku</li>
                <li>dobra znajomość pakietu graficznego Adobe (Photoshop, Indesign, Ilustrator)</li>
                <li>znajomość tworzenia stron internetowych, znajomośc HTML/CSS</li>
                <li>komunikatywność, elastyczność, kreatywność, terminowość, zmysł estetyczny, samodzielność</li>
                <li>chęć uczenia się i prezentowania nowych rozwiązań</li>
            </ul>
            <p><strong>Oferujemy:</strong>
            </p>
            <ul>
                <li>stabilne zatrudnienie w firmie z polskim kapitałem</li>
                <li>opiekę medyczną dla pracowników, a także ich rodzin</li>
                <li>indywidualny program rozwoju pracownika wraz z planem szkoleń</li>
                <li>inspirujące zadania w ramach współpracy z doświadczonym zespołem</li>
                <li>nowe wyzwania wspierające rozwój zawodowy i podnoszące kwalifikacje</li>
                <li>pracę na pełen etat w przyjaznej atmosferze</li>
                <li>dostęp do obiektów sportowych i rekreacyjnych oraz wsparcie udziału w zawodach,</li>
                <li>spotkania integracyjne</li>
            </ul>
        </div>

    </div>
</div>

<div class="row my-jumbotron">
    <div class="col-md-10" style="text-align: justify">
        <strong>
            <p style="font-size: 34px">
                ARCHITEKT SYSTEMÓW INFORMATYCZNYCH
            </p>
        </strong>

        <div class="offerContent"><p><strong>Opis stanowiska:</strong><br>• Przygotowanie dokumentacji technicznej na podstawie analizy biznesowej<br>• Projektowanie architektury systemu oraz przygotowanie schematu integracji <br>• Bliska współpraca z zespołem analityków biznesowych w celu weryfikacji technicznej wymagań klienta <br>• Bezpośrednia praca z klientem <br><br><strong>Wymagania:</strong><br>• Minimum 3 letnie doświadczenie w pracy na podobnym stanowisku<br>• Doświadczenie w projektowaniu dużych systemów transakcyjnych ze szczególnym uwzględnieniem aspektów wydajności i bezpieczeństwa<br>• Doświadczenie w pracy w środowisku wielokulturowym&nbsp; <br>• Praktyczna wiedza dotycząca zagadnienia migracji danych<br>• Znajomość technologii J2EE oraz CMS<br>• Znajomość serwerów Weblogic i Tomcat, bazy danych Oracle będą dodatkowym atutem<br>• Znajomość UML, XSD, SOAP<br>• Znajomość metodologii tworzenia oprogramowania<br>• Wysoko rozwinięte umiejętności interpersonalne (komunikatywność)<br>• Umiejętność pracy w zespole<br>• Umiejętność rozwiązywania trudnych problemów<br>• Gotowość do wyjazdów służbowych<br>• Bardzo dobra znajomość języka angielskiego w mowie i piśmie<br>• Znajomość branży lotniczej będzie dodatkowym atutem<br><br><strong>Oferujemy:</strong><br>• Praca w dużej stabilnej firmie polskiej na umowę o pracę<br>• Praca dla klientów zagranicznych<br>• Możliwość dalszego rozwoju osobistego<br>• Wynagrodzenie adekwatne do posiadanego doświadczenia i wiedzy</p></div>

    </div>
</div>

