@{
    ViewBag.Title = "Home Page";
}

<div class="my-jumbotron">
    <h2>Witaj !</h2>
    <div class="col-md-12">
        <p class="lead">Doręczamy przesyłki na całym świecie, każdego dnia i o każdej porze. Powierzając nam swoje przesyłki możesz być pewien, że doręczymy je na czas i w doskonałym stanie. Wybierz jedną z naszych usług na przesyłki frachtowe. Jeśli potrzebujesz szybszego doręczenia znajdziemy dla Ciebie rozwiązanie.</p>
    </div>
   
</div>

<div class="row my-jumbotron">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/cennik.png" height="65px"/>
                <a href=@Url.Action("About", "Home")>
                    O nas
                </a>
            </h2>
        </p>
        <p>
            Międzynarodowe dostawy ekspresowe i kurierskie; spedycja frachtowa poprzez transport powietrzny, morski,
            drogowy i kolejowy; sposoby magazynowania począwszy od pakowania do naprawy i przechowywania; dostaw pocztowych na całym świecie, 
            oraz innych niestandardowych usług logistycznych. 
        </p>

    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/driver.png" height="65px" />
                <a href=@Url.Action("Career", "Home")>
                    Kariera
                </a>
            </h2>
        </p>
        <p>Praca w LHD wiąże się z przyjęciem na siebie odpowiedzialności, pokonywaniem trudności i stałym rozwojem w zróżnicowanym zespole,
            gromadzącym ludzi z całego świata. Przyczyniaj się do naszego sukcesu, korzystając z wielu różnorodnych, 
        ciekawych możliwości zawodowych.</p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/client.png" height="65px" />
                <a href=@Url.Action("Contact", "Home")>
                    Kontakt
                </a>
            </h2>
        </p>
        <p>Znajdź odpowiadającą Tobie formę kontaktu z naszymi pracownikami, a my już dopilnujemy aby wszelkie pytania i problemy zostały 
        wyjaśnione najszybciej i najbardziej żetelnie jak tylko potrafimy. Wejdź i skontaktuj się z nami.</p>
    </div>
</div>


