@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="my-jumbotron">
    <h2>Witaj !</h2>
    <p class="lead">Witaj @User.Identity.GetUserName() ! w panelu administaracyjnym przeznaczonym dla administratora. Z tego miejsca masz możliwość przyznawania kontroli dostępu dla poszczególnych pracowników oraz możliwość czuwania nad bezawaryjną pracą systemu.</p>
</div>

<div class="my-row">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/cennik.png" height="65px"/>
                <a href=@Url.Action("Index", "Cennik")>
                    Cennik
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">
            Kontrola nad cennikiem paczki w zależności od jej wagi. Informacje zawarte w cenniku wykorzystywane, są do obliczenia ceny końcowej nadania paczki przez klienta.
        </p>

    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/driver.png" height="65px" />
                <a href=@Url.Action("Index", "Kierowcas")>
                    Kierowca
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Wszelkie informacje o zatrudnionych kierowcach w firmie.</p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/client.png" height="65px" />
                <a href=@Url.Action("Index", "Klient")>
                    Klient
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Baza danych klientów, którzy korzystają z usług naszej firmy.</p>
    </div>
</div>

<div class="my-row">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/repair.jpg" height="65px" />
                <a href=@Url.Action("Index", "Naprawa")>
                    Naprawa
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">
            Informacje o prowadzonych naprawach samochodów oraz naprawach zaplanowanych na przyszłość.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/pracownik.png" height="65px" />
                <a href=@Url.Action("Index", "Pracownik")>
                    Pracownik
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Informacje o pracownikach biurowych zatrudnionych w firmie, możliwość usunięcia lub założenia nowego konta pracowniczego.</p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/transport.jpg" height="65px" />
                <a href=@Url.Action("Index", "Przewoz")>
                    Przewóz
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Informacje o zaplanowanych przewozach.</p>

    </div>
</div>

<div class="my-row">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/status.png" height="65px" />
                <a href=@Url.Action("Index", "Realizacjas")>
                    Realizacja
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">
            Tabela zawierająca możliwe dostępne statusy realizacji zlecenia.
        </p>
    </div>
    <div class="col-md-4" style="border-bottom: 0px">
        <p>
            <h2>
                <img src="~/IMG/truck-icon.png" height="65px" />
                <a href=@Url.Action("Index", "Samochod")>
                    Samochód
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Spis wszystkich pojazdów w firmie, zarówno pojazdy niezbędne do utrzymania transportu oraz pojazdy pracownicze niezbędne do prawidłowego funkcjonowania firmy.</p>
    </div>
    <div class="col-md-4" style="border-bottom: 0px">
        <p>
            <h2>
                <img src="~/IMG/serwis.png" height="65px" />
                <a href=@Url.Action("Index", "Serwis")>
                    Serwis
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Informacje o zaprzyjażnionych serwisach z którymi firma ma podpisane umowy na serwisowanie pojazdów.</p>
    </div>
</div>

<div class="my-row">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/uprawnienia.png" height="65px" />
                <a href=@Url.Action("Index", "Uprawnienia")>
                    Uprawnienia
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">
            Informacje o uprawnieniach do wykonywania transportu dla danago kierowcy.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/zlecenia.png" height="65px" />
                <a href=@Url.Action("Index", "Zlecenie")>
                    Zlecenie
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Informacje o zleceniach.</p>
    </div>
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/paczka.jpg" height="65px" />
                <a href=@Url.Action("Index", "Paczka")>
                    Paczka
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">Spis wszystkich zarejestrowanych w systemie paczek.</p>
    </div>
</div>

<div class="my-row">
    <div class="col-md-4">
        <p>
            <h2>
                <img src="~/IMG/user.png" height="65px" />
                <a href=@Url.Action("Index", "Uzytkownik")>
                    Użytkownik
                </a>
            </h2>
        </p>
        <p style="font-size: 16px; text-align: justify;color: #7F7460">
            Konta użytkowników systemu.
        </p>
    </div>
</div>