body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fbe9d4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
  position:absolute;
  z-index: 0;

  left: 20px;
  top: 5px;
  height: 125px;
  width: 125px;
}

.icon-size {
  height: 65px;
}

.my-jumbotron {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 150;
  text-align: justify
  line-height: 2.1428571435;
  color: #7F7460;
  background-color: #FFCB73;
    border-radius: 15px;
}

  .my-col-md-4 {
    width: 33.33333333333333%;
    border: 2px;
    border-color: #FFCB73;
    border-style: solid
  }

.my-navbar {
  background-color: #7F7460;
  border-color: #FFCB73;
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  border-width: 0 0 1px;
}

.my-navbar-text{
  color: #FFCB73;
    font-size: 16px;
}

.my-row {
  margin-right: -15px;
  margin-left: -15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px;
    border-color: #FFCB73;
    border-style: solid;
    border-radius: 15px;
}

.my-row:before,
.my-row:after {
  display: table;
  content: " ";
}

.my-row:after {
  clear: both;
}

.my-row:before,
.my-row:after {
  display: table;
  content: " ";
}

.my-row:after {
  clear: both;
}

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
